In [1]:
import pandas as pd
crime_data = pd.read_csv('C:/Users/622857/Downloads/Crimes_-_2001_to_Present.csv')

In [2]:
crime_data.isnull().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      9142
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614843
Community Area          613478
FBI Code                     0
X Coordinate             78646
Y Coordinate             78646
Year                         0
Updated On                   0
Latitude                 78646
Longitude                78646
Location                 78646
dtype: int64

In [24]:
crime_data.loc[:,'Date'].str.len().value_counts()
#all dates are in the same format

22    7520239
Name: Date, dtype: int64

In [3]:
crime_data.rename(columns={'Date':'Original_Date'}, inplace=True)
crime_data['Date'] = [date[0] for date in crime_data['Original_Date'].str.split(' ')]
crime_data['Timestamp'] = [timestamp[1] for timestamp in crime_data['Original_Date'].str.split(' ')]

In [4]:
crime_data.head()

,ID,Case Number,Original_Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Date,Timestamp
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)",09/05/2015,01:30:00
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)",09/04/2015,11:30:00
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN,09/01/2018,12:01:00
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)",09/05/2015,12:45:00
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)",09/05/2015,01:00:00